<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/post.css">
    <link rel="stylesheet" href="/public/base.css">
</head>
<body>
   <form action="/add" method="GET">
    <p> 留言内容：<input type="text" name="content"></p>
    <p> 你的大名：<input type="text" name="name"></p>
    <p><button>提交</button></p>
    </form>
</body>
</html>